.navbar-collapse{
    display: block;
    justify-content: end;
    justify-content: space-evenly;
    color: white;
   position: relative;
   margin-left: 500px;
   margin-bottom: 40px;
 
    
    
    
}
.imgry{
    width: 700px;
}
.c{
    width: 560px;
    margin-top: 90px;
}
.kon{
    margin-left:70px;
}

body{
 
    background-image: linear-gradient(20deg,#081229 ,#7b3bda 10%,#081229 50%);
    background-repeat: no-repeat;
    width: 100%;
    /* background-color: ; */
    /* height: 100vh; */
    /* padding: 40px; */
    /* background-color: #402F8F; */
}
.navbarNav a{
    margin-left: 50px;
}
.contact{
    width: 132px;
    height: 42px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    
    border-radius: 5px;
    border: none;

}
.Virtual{
    display: flex;
    
}
.use{
    width: 132px;
    height: 42px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 5px;
    border: none;
}
.we{
    color: white;
}
span{
    color: white;
}
.saly{
    /* width: 350px; */
    height: 348px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding:10px 80px;
    /* margin-left: 80px; */
}


.joinvid{
    margin-left: 15px;
}

span{
    margin-top: 10px ;
    text-align: center;
}
.Services{
    /* text-align:  center; */
  width: 587px ;
  text-align: center;
  margin-left: 427px;
  color: white;
}
.checklist{
    height: 250px;
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(211, 219, 230, 0.121);
   padding: 27px;
   border-radius: 20px;
}

.Assistant{
    height: 250px;
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(211, 219, 230, 0.121);
   padding: 27px;
   border-radius: 20px;
}
.Platform{
    height: 250px;
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(211, 219, 230, 0.121);
   padding: 27px;
   border-radius: 20px;
}
.Order{
    display: flex;
    justify-content: space-evenly;
    
}
.Modules{
    height: 250px;
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(211, 219, 230, 0.121);
   padding: 27px;
   border-radius: 20px;

}
.Analyzer{
    height: 250px;
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(211, 219, 230, 0.121);
   padding: 27px;
   border-radius: 20px;
}
.Notification{
    height: 250px;
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(211, 219, 230, 0.121);
   padding: 27px;
   border-radius: 20px;

}
.class{
   /* background-color: rgb(71, 94, 243); */
   margin: auto;
   height: 65px;
   width: 70px;
   border-radius: 50px;
   background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);

}
.check{
    margin:  15px auto;
}
.such{
    height: 65px;
}
.btc{
    height: 65px;
}
.mode{
    margin:  auto ;
    height: 72px;
    width: 70px;
    border-radius: 50px;
    background: linear-gradient(180deg, #92EFC3 0%, #2F8F5B 100%);

}
.much{
    margin:  15px auto;

}
.money{
    height: 65px;

}
.love{
    height: 65px;
}
.walk{
    display: flex;
    color: white;
    justify-content: space-evenly;
   
}
.complete{
    width: 560px;
    /* position: relative; */
    top: 6rem;
    left: 3rem;
    margin-top: 80px;
    margin-left: 100px;

}
.info{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.nothing{
    width: 560px;
    /* position: relative; */
    /* top: 6rem; */
    margin-top: 110px;
    /* margin-left: 50px; */

}
.read{
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
}
.Executive{
    height: 280px;
    width: 260px;
    text-align: center;
    color: white;
    background-color: rgba(31, 32, 32, 0.121);
   padding: 25px;
   border-radius: 30px;
   
}

.Team{
    width: 500px;
    text-align: center;
    margin: auto;
    color: white;

}
.Rectangle{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.Subscribe{
    color: white;
    background-color: rgba(31, 32, 32, 0.121);
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
}
.Executive p{
 font-weight: lighter;

}
.mail{
    width: 700px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    padding: 20px;
    border: rgba(187, 187, 187, 0.477) solid ;
    position: relative;
    left: 70px;
    text-decoration: white;
    
}
.Frame{
    position: relative;
    right: 5rem;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border: none;
    color: white;


}
.mainfoot{
    display: flex;
    justify-content: space-evenly;
    line-height: 33px;
    list-style: none;
    color: white;
}
li{
    list-style: none;
}
footer{
    /* background: linear-gradient(50deg,#3364d4 ,#35116c 10%,#8e76e6 50%); */
    /* width: 800px; */
    height: 300px;
    padding:20px;
    background-color: #402F8F;
    

}
.input {
    color: white;
    
}
.area{
    display: flex;
    justify-content: space-between;
    color: white;
}
.last{
    display: flex;
    
}
.last ul{
    display: flex;
    margin-right: 90px;
    
}
.last li{
    margin-left: 40px;
}
.foot{
    margin-left: 100px;
}
.hamdiv{
    display: none;
}
@media (min-width: 319px) and (max-width: 560px)   {
    .kon{
        height: 20px;
        position: relative;
        right: 4rem;

        
    }
    .hamdiv{
        display: block;
        color: white;
        
    }
    body{
        /* background-image: ; */
    }
    .Virtual{
        flex-wrap: wrap;
       height: 100px;
       text-align: center;
       position: relative;
       bottom: 16rem;
       right: 3rem;
       margin-bottom: 30px;

        
    }
    .c{
        width: 250px;
    }

    .imgry{
        height: 340px;
        position: relative;
        left: 2rem;
       
      
    }
    .use{
        height: 40px;
        width: 90px;
    }
    .Reality{
        height: 60px;
    }
    .imgry{
        position: relative;
        bottom: 9rem;
        width: 300px;
        left: 3rem;
    }
    .Services{
        color: #fbfcfd;
        height: 50px;
        width: 250px;
        position: relative;
        top: 18rem;
        font-size: x-small;
        right: 25rem;
        
    }
    .Services h3{
       
    }
    .Order{
        position: relative;
        top: 23rem;
        display: block;
       
      
    }
    .checklist{
        margin-bottom: 40px;
        height: 220px;
        font-size: xx-small;
        padding: 30px;
        width: 200px;
       margin: auto;
       margin-bottom: 70px;
        
    
    }
    .checklist  p{
        width: 150px;
        right: 8px;
        position: relative;
        font-size: xx-small;
        

    }
    .checklist h5{
       
        text-align: center;
        font-size: small;

    }
    .Assistant{
        margin-bottom: 40px;
        margin-bottom: 40px;
        height: 220px;
        font-size: xx-small;
        padding: 30px;
        width: 200px;
        margin: auto;
        margin-bottom: 70px;
    }
    .Assistant h5{
      
        text-align: center;
        font-size: small;

    }
    .Modules{
        margin-bottom: 40px;
        margin-bottom: 40px;
        height: 220px;
        font-size: xx-small;
        padding: 30px;
        width: 200px;
        margin: auto;
        margin-bottom: 70px;
    }
    .Modules h5{
        
        text-align: center;
        font-size: small;

    }
    .Analyzer{
        margin-bottom: 40px;
        margin-bottom: 40px;
        height: 220px;
        font-size: xx-small;
        padding: 30px;
        width: 200px;
        margin: auto;
        margin-bottom: 70px;
    }

    .Analyzer h5{
       
        text-align: center;
        font-size: small;

    }
    .yon{
        height: 300px;
        position: relative;
        right: 1rem;
        
    }
    .working{
        height: 300px;
        width: 220px;
        position: relative;
        left: 2rem;
        /* margin-left: 110px; */

    }
    .walk{
        flex-wrap: wrap;
       text-align: center;
        width: 250px;
        /* margin:auto 190px ; */
        font-size: 10px;
        position: relative;
        top: 40rem;
        left: 31px;
        margin-bottom: 50px;
    }
    .walk h1{
        font-size: 20px;
    }
    .info{
        flex-wrap: wrap-reverse;
       text-align: center;
       width: 300px;
        font-size: 10px;
        position: relative;
        top: 40rem;
        right: 25px;
    }
    .info h1{
        font-size: 20px;
    }
    .Met{
        /* margin:auto 440px ; */
        position: relative;
        /* top: 100rem; */
        font-size: 10px;
        display: block;
        top: 40rem;
        margin-bottom: 600px;
       
    }
    .Rectangle{
        display: block;
        margin: auto 80px;
        
    }
    .Team{
       position: relative;
       left: rem;
       margin-top: 90px;
       width: 250px;
    }
    .Platform{
        margin-bottom: 40px;
        margin-bottom: 40px;
        height: 220px;
        font-size: xx-small;
        padding: 30px;
        width: 200px;
        margin: auto;
        margin-bottom: 30px;
    }
    .Platform h5{
       
        text-align: center;
        font-size: small;

    }
   .Notification{
       margin-bottom: 40px;
        margin-bottom: 40px;
        height: 230px;
        font-size: xx-small;
        padding: 30px;
        width: 200px;
        margin: auto;
        margin-bottom: 0px;
        
   }
   .Notification h5{
   
    text-align: center;
  
   
    font-size: 12px;
        

   }
   .jam{
    height: 50px;
   }
    .Executive{
        width: 150px;
        height: 200px;
        margin-bottom: 10px;


    }
    .Subscribe{
        width: 250px;
        margin-left:  29px;
        position: relative;
        font-size: 10px;
        
      
    }
    .Frame{
        position: relative;
     
        left: 4px;

    }
    .Subscribe h1{
        font-size: 20px;
    }
    .mail{
        width: 100px;
       position: relative;
       display: none;
      
       /* position: relative;
       right: 9rem; */
    }
    body{
        /* background: linear-gradient(20deg,#081229 ,#7b3bda 10%,#081229 50%) ;
        background-repeat: no-repeat; */
        width: 100%;
        
    }
    footer{
        height: 1100px;
        width: 100%;
        padding: 20px;
     
        

    }
    .mainfoot{
        /* margin-left: 400px; */
        width: 300px;
        font-size: 10px;
        display: block;
        
       
    }
    .hamdiv{
        display: block;
        
        height: 15px;
        position: relative;
       bottom: 35px;
        color: white;
        left: 15rem;
        /* left: 500px; */
    }
    .area{
        position: relative;
       right: 3rem;
       width: 50px;
        
        
    }
    
    .foot{
       position: relative;
       top: 1rem;
       right: 7rem;
       font-size: 10px;
    
    }
    .last{
        position: relative;
        right: 10rem;
        font-size: 10px;
        top: 3rem;
    }
    .working{
        margin-right: 100px;
    }
    .saly{
        margin-top: 220px;

        
        width: 380px;
    }
    .Virtual{
        margin-bottom:200px;
    }
    .nothing{
        left: 27px;
        position: relative;
        width: 250px;
    }
    .nothing h1{
        width: 200px;
        position: relative;
        left: 27px;
    }
    
}

@media (min-width: 374px) and (max-width: 666px) {
    .Reality{
        height: 60px;
    }
    .Virtual{
        margin-bottom: 300px;
        position: relative;
        bottom: 10rem;
        
      
    }
    .saly{
        width: 390px;
        left: 35px;
        position: relative;
    }
    .imgry{
        position: relative;
        left: 5rem;
    }
    .we{
        text-align: center;
        
    }
    .walk{
        position: relative;
        top: 1rem;
        
    }
    .c{
        position: relative;
        left:25px;
    }
    .Notification{
        margin-bottom: 500px;
    }
    .info{
        position: relative;
        top:20rem;
    }
    .working{
        position: relative;
        right: 5rem;
    }
    .nothing{
        position: relative;
        left: 55px;
    }
    .Rectangle{
        position: relative;
        left: 30px;
        margin-top: 40px;
    }
    .Subscribe{
        left: 30px;
    }
    .Services{
        width: 300px;
    }
    .yon{
        left: 1rem;
    }
    .working{
        left: 3rem;
        height: 310px;
        width: 250px;
    }
.hamdiv{
    left: 19rem;
    position: relative;
}
g
        display: none;

    }
    .Order{
       position: relative;
       /* left: 245px; */
      
    }
    .checklist{
        width: 380px;
    }
    .Reality{
        height: 80px;
    }
    .imgry{
        height: 350px;
        position: relative;
        
        right: 6rem;
    }
    .Virtual{
        width: 120px;
    }
    .mainservise{
        position: relative;
        /* right: 16rem; */
        font-size: 10px;
        margin-bottom: 100px;
        
    }
    .Services{
        width: 300px;
        font-size: 10px;
       position: relative;
       margin: auto;
    }
    .checklist{
        width: 200px;
       
    }
    .checklist h5{
        font-size: 15px;

    }
    
   

    .Assistant{
        width: 200px;
    }
    .Assistant h5{
        font-size: 15px;
    }
    .Platform{
        width: 200px;
    }
    .Platform h5{
        font-size: 15px;
    }
    .Modules{
        width: 200px;
    }
    .Modules h5{
        font-size: 13px;
    }
    .Analyzer{
        width: 200px;

    }
    .Analyzer h5{
        font-size: 15px;
    }
    .Notification{
        width: 200px;
    }
    .Notification h5{
        font-size: 12px;
    }
    .walk{
        height: 400px;
        position: relative;
        right: 2rem;
    }
    .c h1{
        font-size:20px ;
    }
    .c{
        font-size: x-small;
        width: 300px;

    }
    .info{
        height: 400px;
        position: relative;
        margin-bottom: 200px;
    }
    .nothing{
        font-size: x-small;
        width: 300px;
    }
    .nothing h1{
        font-size: 20px;
    }
    .jam{
        height: 90px;
    }
    .Executive{
        font-size: 10px;
        height: 200px;
        width: 130px;
        
    }
    .ono{
        height: 10px;
        position: relative;
        bottom: 1rem;
    }
    .Executive h5{
        font-size: 15px;
    }
    .Subscribe{
        width: 600px;
        font-size: x-small; 
    }
    .Subscribe h1{
        font-size: 30px;
    }
    .mail{
        width: 400px;
    }
    footer{
        height: 430px;
    }

}
@media (min-width: 600px) and (max-width: 800px){
    .Virtual{
        
    }
    
}